 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    color: #0D2B45;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

header {
    background: linear-gradient(to right, #0D2B45, #1E6D86);
    color: #FFFFFF;
    text-align: center;
    padding: 60px 20px;
}

.parent > div {
    background-color: #F7F7F7;
}
    
.div1 {
    grid-column: span 4 / span 4;
}

.div2 {
    grid-column: span 4 / span 4;
    grid-row-start: 2;
}

.div3 {
    grid-column: span 4 / span 4;
    grid-row-start: 3;
}

.div4 {
    grid-row-start: 4;
}

.div5 {
    grid-row-start: 4;
}

.div6 {
    grid-row-start: 4;
}

.div7 {
    grid-row-start: 4;
}

.div8 {
    grid-column: span 4 / span 4;
}
    

